@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Limelight&display=swap');

h1 {
  font-family: 'Limelight', cursive;
}

h2 {
  font-family: 'Limelight', cursive;
}

button {
  background-color: #901a2a;
  color: white;
}

.main-page {
  background-color: #f4ec6f;
  flex: 1 1 auto;
  text-align: center;
  height: 100%;
}

#marquee {
  background-color: #f4ec6f;
  margin-top: 40px;
  width: 80%;
  height: 400px;
  border-radius: 50%;

}

.welcome {
  font-family: 'Limelight', cursive;
  margin-top: 40px;
}