.container {
  background-color: #901a2a;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  align-items: center;
}

.favorite-container {
  margin-top: 250px;
  text-align: center;
  width: 100%;
}

.info-container {
  position: fixed;
  top: 80px;
  width: 75%;
  text-align: center;
}

h1 {
  color: white;
}

app-main-nav {
  position: fixed;
  top: 0;
  width: 100%
}

mat-card-header {
  justify-content: center;
}

.info-card {
  background-color: #f4ec6f;
}

.movie-card {
  background-color: #f4ec6f;
  margin: 0 10px;
  text-align: center;
}

.title {
  height: 40px;
}

.img-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

img {
  height: 400px;
  width: 85%;
  border: 1px solid black;
}

img:hover {
  cursor: pointer;
}

.delete-button {
  background-color: #901a2a;
  color: white;
}