<div class="container">
  <div fxLayout="row wrap" fxLayoutAlign="center" style="margin-top: 60px;">
    <ng-container *ngFor="let movie of movies;">
      <mat-card fxFlex="0 1 25%" fxFlex.lt-md="0 1 33%" fxFlex.lt-sm="50%">
        <mat-card-header style="justify-content: center;">
          <mat-card-title>{{movie.Title}}</mat-card-title>
          <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
        </mat-card-header>
        <img src={{movie.ImagePath}} alt={{movie.Title}} (click)="openSynopsisViewDialog(movie)" />
        <br>
        <button aria-label="Add movie to favorites" mat-icon-button (click)="favoritesList(movie._id, movie.Title)">
          <mat-icon *ngIf="isFavorite(movie._id)">favorite</mat-icon>
          <mat-icon *ngIf="!isFavorite(movie._id)">favorite_border</mat-icon>
        </button>
      </mat-card>
    </ng-container>
  </div>
  <app-main-nav></app-main-nav>
</div>